version: "3.9"

services:
  redis:
    image: redis:7.4.2
    container_name: redis-server
    ports:
      - "6379:6379"
    restart: unless-stopped

  redisinsight:
    image: redis/redisinsight:latest
    container_name: redisinsight
    ports:
      - "5540:5540"
    depends_on:
      - redis